<h2>Soal 1: Membuat Objek DataFrames</h2>

- Buatlah objek dataframes dari objek dictionary, Bebas!

In [7]:
# Membuat dataframes dari dictionary
import pandas as pd
data = {'Nama':['Bejjo', 'Eqq'],
        'Level':[200, 210]}
df = pd.DataFrame(data)
print(df)

    Nama  Level
0  Bejjo    200
1    Eqq    210

<h2>Soal 2: Membaca data dari file</h2>

Download file bernama [diamonds.csv](https://drive.google.com/uc?export=download&id=1qQiM9utQUThTPq8jk8stPMh_y2zfqYOd), kemudian baca data tersebut dan assign ke dalam suatu variabel kemudian print.

In [8]:
# Membaca data dan memasukannya kedalam suatu variabel
df_from_csv = pd.read_csv("diamonds-1.csv")
datas = df_from_csv.head(3)#df_from_csv.head(3) => mengambil data dari file dan ditampilkan
print(datas)#print 5 hasil teratas dari file sebagai dictionary
for key,item in datas.items():#print dictionary dengan iterasi
    print(key,item)

   Unnamed: 0  carat      cut color clarity  depth  table  price     x     y  \
0           1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98
1           2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84
2           3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07

      z
0  2.43
1  2.31
2  2.31
Unnamed: 0 0    1
1    2
2    3
Name: Unnamed: 0, dtype: int64
carat 0    0.23
1    0.21
2    0.23
Name: carat, dtype: float64
cut 0      Ideal
1    Premium
2       Good
Name: cut, dtype: object
color 0    E
1    E
2    E
Name: color, dtype: object
clarity 0    SI2
1    SI1
2    VS1
Name: clarity, dtype: object
depth 0    61.5
1    59.8
2    56.9
Name: depth, dtype: float64
table 0    55.0
1    61.0
2    65.0
Name: table, dtype: float64
price 0    326
1    326
2    327
Name: price, dtype: int64
x 0    3.95
1    3.89
2    4.05
Name: x, dtype: float64
y 0    3.98
1    3.84
2    4.07
Name: y, dtype: float64
z 0    2.43
1    2.31
2    2.31
Name: z, dtype: float64

Expected Result:

![alt text](https://drive.google.com/uc?id=1BvgM5mJEVfj0fllrjkBfQwn0QIFkry_t)

<h2>Soal 3: DataFrame vs Series</h2>

- Apa perbedaan Series dengan list dan dictionary
- Apa perbedaan dataframe dan series
- Buatlah suatu data series

Jawab:

In [9]:
# code here
pd.Series(data.items())#pada dict series tidak bisa menampilkan bentuk tabel seperti DataFrame

0    ((Nama, [Bejjo, Eqq]), (Level, [200, 210]))
1    ((Nama, [Bejjo, Eqq]), (Level, [200, 210]))
dtype: object

In [10]:
pd.Series([3,1,2,4,5])#series hanya bisa menampilkan satu dimensi(hanya 1 column)

0    3
1    1
2    2
3    4
4    5
dtype: int64

<h2>Soal 4: Pemeriksaan Data Sederhana</h2>

Di soal no 2 kamu telah membaca data tentang diamonds. pada soal ini cobalah suatu metode dari pandas untuk mengetahui beberapa data pertama dan beberapa data terakhir. kemudian sebutkan nilai dari:
- baris pertama dari column price
- baris terakhir dari column color

tunjukan cara kalian menemukan nilai tersebut di block di bawah ini.

In [58]:
# code here
datas["price"][0]

326

In [62]:
datatail = df_from_csv.tail()
list(datatail["color"])[-1]

'D'

<h2>Soal 5: Deskriptif Statistik</h2>

Jelaskan apa itu deskriptis statistik!

Jawab: Kesimpulan dari tiap-tiap column atau key yang berupa data statistik seperti count,mean,std,max,min,dll dari value column/key tersebut.

<h2>Soal 6: Practice Deskriptif Statistik</h2>

- Gunakan suatu metode dari pandas untuk mengetahui deskriptif statistik dari suatu data
- Berapa nilai rata-rata dari column price
- Berapa nilai standar deviasi dari column depth
- Berapa nilai maximum dari column carat

Jawab:

In [70]:
# code here
ds = df_from_csv.describe()
ds["price"]["mean"]

3932.799721913237

In [69]:
ds["depth"]["std"]

1.432621318833661

In [71]:
ds["carat"]["max"]

5.01

In [ ]:
#alternatif menggunakan series